@import url(resets.css);

/*barra lateral*/
.left {
    background-color: rgb(255, 116, 202);
    height: 100vh;
    width: 12%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    position: absolute;
}

.left_ul {
    line-height: 480%;
    position: relative;
    grid-row: 2;
}

ul li {
    font-size: 2rem;
    text-align: center;
}

.fa-solid{
    color: white;
}

.fa-solid:hover {
    color: rgb(243, 86, 183);
    transition: 0.3s;
}
/*fim barra lateral*/

/*direita*/
.all {
    width: 100%;
    height: 100vh;
    background-color: gray;
    display: grid;
    grid-template-rows: repeat(8, 3fr);
}

.form_ {
    grid-column: 2;
    grid-row: 4;
    background-color: blue;
}

.toolbar {
    display: flex;
    grid-column: 2;
    grid-row: 3;
    background-color: red;
}

.todo-list {
    grid-column: 2;
    grid-row: 5;
    background-color: yellowgreen;
}

/*fim direita*/